body{
    margin:0%;
    padding: 0%;
}

.title{
    text-align: center;
    color: rgb(144, 147, 148);
}
.title_dentistas{
    font-size: 2rem;
}

.div_titulo {
    justify-content:space-around ;
} 

.logo_dentista{
    width: 4rem;
    height: 4rem;
    margin-left: 48vw;
}


h1{
    font-size: 3rem;
}

.home_nav{
    background-color: rgb(227, 231, 232);
    padding: 10px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
}

.home_nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.home_nav ul li a{
    text-decoration: none;
    color: black;
}

.home_nav ul li :hover{
    text-decoration: none;
    color: rgb(109, 106, 106);
}

.error{
    font-size: 6rem;
}
.error404{
    font-size: 3rem;
}

.container_inicio{
    display: flex;
    margin-top: 3rem;
}

.foto_inicio{
    width: 50vw;
    height: 30vw;
    margin-left: 2rem;
} 

.container_registro{
    width: 80%;
    margin-left: 25vw;
}

.formulario{
    background-color: rgb(227, 231, 232);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 2rem;
    border-radius: 1rem;
    width: 50%;
}

.formulario_editar{
    margin-left: 22vw;
}

.formulario_inicioSesion{
    padding: 3rem;
    padding-top: 7rem;
}

input{
    display: block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 0.5rem;
}

.boton{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
}

.table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
    margin-left: 10vw;
    border: 1px solid black;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;

}

.table_body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.boton_editar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 3rem;
    cursor: pointer;
}

.boton_borrar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 5.5rem;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.exito-message{
    color: green;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.volver{
    margin-left: 49vw;
    font-size: 1.3rem;
}